@media (min-width: 1201px) {
    .card-2 {
        margin-left: 10px;
    }
}

@media (max-width: 1215px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .delivery-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 100px;
    }
    .delivery-card {
        max-width: 250px;
    }
    .slider {
        margin-bottom: 40px;
    }
    .search-input {
        background-color: transparent;
        border: none;
        width: 300px;
        padding: 13px 20px 13px;
    }
    .search-form {
        margin-right: 10px;
        margin-left: 10px;
    }
    .card {
        max-width: 500px;
    }
    .card-2 {
        margin-left: 10px;
    }
    .tabs-card {
        margin-right: 0;
        margin-top: 20px;
        width: 40%;
    }
    .tabs {
        margin-bottom: 40px;
    }
    .adv__block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;    
        justify-content:space-around;    
}
     .adv__item {
        max-width: 412px;
    }
}


@media (max-width: 930px) {
    .container {
        max-width: 90%;        
    }
    .delivery-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 100px;
    }
    .delivery-card {
    width: 180px;
    height: 182px;    
    }
    .adv__item {
        max-width: 412px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;        
    }
    .header {
        flex-wrap: wrap;
    }
    .search-form {
        order: 5;
        margin: 15px 0;
    }
    .tabs {
        flex-direction: column;
    }
    .tabs-item {
        margin-top: 7px;
    }
    .tabs-card {
        width: 350px;
        margin: 10px auto;
    }
    .footer__link {
        margin-left: 15px;
        margin-right: 5px;
    }

}
@media (max-width: 575px) {
    .container {
        max-width: 90%;        
    }
    .cards {
        flex-wrap: wrap;
    }
    .slide {
        padding: 50px;
    }
    .slide-title {
        font-size: 38px;
        width: 350px;
    }
    .card {
        margin-left: 0;
        margin-top: 20px;
    }
    .delivery-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-items: center;     
    }
    .section-title {
       line-height: 35px; 
    }
    .button-center {
        width: 200px;
    }
    .category {
        padding: 40px 40px;
    }
    .adv {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer__nav {
        order: 3;
        margin: 20px auto;
    }
}
@media (max-width: 438px) {
    .logo {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .search-input {
        width: 305px;
    }
    .auth {
        display: block;
        margin-left: 95px;        
    }
    .adv {        
        padding-bottom: 50px;
    }
}
@media (max-width: 396px) {
    .container {
        max-width: 90%;        
    }
    .logo {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .search-input {
        width: 305px;
    }
    .auth {
        margin-left: 15%
    }
    .delivery-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        justify-items: center;     
    }
    .slider {
        display: none;
    }
    .section-title {
        display: block;
        font-size: 30px;
        text-align: center;
    }
    .category {
        padding: 30px 20px;
    }
    .button-price {
        text-align:center;
        font-size: 12px;
        display: block;
    }
    .adv {
        padding-bottom: 50px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
    }
    .footer__logo {
        display: block;
        margin: 0 auto;
    }
    .footer__social {
        margin: 0 auto;
        padding-top: 15px;
    }
    .footer__nav {
       width: 100%;
    }
    .footer__link {        
        margin: 0 auto;        
    }
}
